<div id="<%= dom_id empdetail %>">
  <p>
    <strong>Name:</strong>
    <%= empdetail.Name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= empdetail.Age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= empdetail.Gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= empdetail.Designation %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= empdetail.contact_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= empdetail.address %>
  </p>

</div>
