<p style="color: green"><%= notice %></p>

<h1>Empdetails</h1>

<table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Designation</th>
    <th>Contact_number</th>
    <th>Address</th>
  </tr>
  <% @empdetails.each do |empdetail| %>
  <tr>
    <td width="10%"><%= empdetail.Name %></td>
    <td width="5%"><%= empdetail.Age %></td>
    <td width="5%"><%= empdetail.Gender %></td>
    <td width="15%"><%= empdetail.Designation %></td>
    <td width="10%"><%= empdetail.contact_number %></td>
    <td width="10%"><%= empdetail.address %></td>
    <td> <%= link_to "Show this empdetail", empdetail %> </td>
  </tr>
  <% end %>
</table>
<br />

<%= link_to "New empdetail", new_empdetail_path %>